<div class="row justify-content-center mx-5 mb-3">
  <% @articles.reverse.each do |article| %>
    <div class="card blog-snip my-5 bg-transparent border-0">
      <div class="row g-0">
        <div class="col-sm-5 col-lg-4 col-xl-3">
        
        <% if article.id.odd? %>
          <img src="https://images.unsplash.com/photo-1471440671318-55bdbb772f93?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2080&q=80" class="img-fluid blog-photo rounded rounded-5" alt=<%= article.title %>>
        <% else %>
          <img src="https://images.unsplash.com/photo-1574629174070-63e3564b1916?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=849&q=80" class="img-fluid blog-photo rounded rounded-5" alt=<%= article.title %>>
        <% end %>
        </div>
        <div class="offset-sm-1 col-sm-6 col-lg-7 col-xl-8">
          <div class="card-body">
            <small><%= article.tag %></small>
            <h1 class="card-title"><%= link_to article.title, article_path(article), class: "blog-title link-animation-1 text-decoration-none" %></h1>
            <p class="card-text lead"><%= article.short_description %></p>
            <%= link_to 'Read More', article_path(article), class: "read-more" %>
          </div>
          <div class="card-footer border-0 bg-transparent text-muted">
            <small>Created: <%= time_ago_in_words(article.created_at) %> ago &ensp;|&ensp; Edited: <%= time_ago_in_words(article.updated_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

