<h1 class="text-center mt-4">Alpha Bloggers</h1>

<%= will_paginate @articles, class: "apple_pagination" %>

<div class="row justify-content-center mx-2 mb-3">
  <%= link_to 'Signup', new_user_path, class: "btn btn-light border-secondary shadow-3 w-75 py-3 my-4" %>
  <% @users.each do |user| %>
    <div class="col-lg-5 my-2 mx-2">
      <div class="card text-center shadow">
        <div class="card-header">
          <%= link_to user.username, user, class: "text-decoration-none text-dark fs-1 fw-bold text-capitalize" %>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to gravatar_for(user, size: 150), user %></h5>
          <%= link_to 'View profile', user, class: "btn btn-light text-success border-success shadow" %>
          <% if logged_in? %>
            <% if user == current_user %>
              <%= link_to 'Edit profile', edit_user_path(user), class: "btn btn-light text-primary border-primary shadow" %>
            <% end %>
            <% if current_user.admin? && !user.admin? %>
              <%= link_to 'Edit user', edit_user_path(user), class: "btn btn-light text-primary border-primary shadow" %>
              <%= link_to 'Delete Account', user_path(user), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure you want to delete #{user.username}, this action cannot be undone?" }, class: "btn btn-light text-danger border-danger shadow" %>
            <% end %>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <small class="fst-italic">Profile created: <%= time_ago_in_words(user.created_at) %> ago</small>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @articles, class: "apple_pagination" %>