
  <!-- #TODO: Use book quotes api to rotate through random quotes -->
  <div class="container quotes-css">
    <p class="text-center mt-3 mb-3"><i>“You see, one of the best things about reading is that you'll always have something to think about when you're not reading.” - James Patterson</i></p>
    <p class="text-center mt-3 mb-3"><i>“Books are a uniquely portable magic.” - Stephen King</i></p>
    <p class="text-center mt-3 mb-3"><i>“Until I feared I would lose it, I never loved to read. One does not love breathing.” - Harper Lee, To Kill a Mockingbird</i></p>
  </div>

  <!-- Contains the 3 most recent posts  -->
  <div class="container">
    <div class="row recent-posts m-4">
      <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0">
        <div class="card mx-md-4 my-2">
          <img src="https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80" class="card-img-top" alt="blog-post-template">
          <div class="card-body">
            <h5 class="card-title">Insert Blog Title</h5>
            <p class="card-text">Insert blog tl:dr.</p>
            <a href="#" class="btn btn-secondary">Show Article</a>
          </div>
        </div>
      </div>
      <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0">
        <div class="card mx-md-4 my-2">
          <img src="https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80" class="card-img-top" alt="blog-post-template">
          <div class="card-body">
            <h5 class="card-title">Insert Blog Title</h5>
            <p class="card-text">Insert blog tl:dr.</p>
            <a href="#" class="btn btn-secondary">Show Article</a>
          </div>
        </div>
      </div>
      <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0">
        <div class="card mx-md-4 my-2">
          <img src="https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80" class="card-img-top" alt="blog-post-template">
          <div class="card-body">
            <h5 class="card-title">Insert Blog Title</h5>
            <p class="card-text">Insert blog tl:dr.</p>
            <a href="#" class="btn btn-secondary">Show Article</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contains the on page nav links -->
  <div class="container">
    <div class="row m-4">
      <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0">
        <div class="card mx-md-4 my-2 bg-dark">
          <img src="https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1173&q=80" class="card-img" alt="Blog with Mac and Coffee">
          <div class="card-img-css"></div>
          <div class="card-img-overlay">
            <h1 class="card-title page-nav">
              <%= link_to 'Blog', root_path, class: "text-decoration-none link-animation-2" %>
            </h1>
          </div>
        </div>
      </div>
      <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0">
        <div class="card mx-md-4 my-2 bg-dark">
          <img src="https://images.unsplash.com/photo-1495446815901-a7297e633e8d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img" alt="...">
          <div class="card-img-css"></div>
          <div class="card-img-overlay">
            <h1 class="card-title page-nav">
              <%= link_to 'Book Recs', root_path, class: "text-decoration-none link-animation-2" %>
            </h1>
          </div>
        </div>
      </div>
      <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0">
        <div class="card mx-md-4 my-2 bg-dark">
          <img src="https://images.unsplash.com/photo-1629131530695-30684ecb2366?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img" alt="...">
          <div class="card-img-css"></div>
          <div class="card-img-overlay">
            <h1 class="card-title page-nav">
              <!-- #TODO: Remember to enable when chat section is done -->
              <%= link_to 'Connect', root_path, class: "text-decoration-none link-animation-2" %>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- About me card tag  -->
  <div class="card about-snip mb-3 w-lg-100">
    <div class="row g-0">
      <div class="col-xl-5 col-xxl-6">
        <%= image_tag "cover.jpg", class: "img-fluid abt-photo rounded-start", alt: "Emily" %>
      </div>
      <div class="col-xl-7 col-xxl-6">
        <div class="card-body">
          <h5 class="card-title">About Me</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos pariatur architecto consequatur incidunt error, sunt sed ipsum rerum sapiente esse praesentium expedita veniam maiores quo quidem, provident repellat aspernatur ad.
          </p>
          <%= link_to 'Read More', about_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>

