<!DOCTYPE html>
<html>
<head>
<%
=begin%>
  TODO: SEO for meta tag
<%
=end%>
  <title>Emily's Book Rants</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cookie&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
  <div id="content">
    <%= render 'layouts/navigation' %>
  <%= yield %>
  </div>
  <%= render 'layouts/footer' %>

</body>
</html>
